* {
  box-sizing: border-box;
}

html body {
  font-family: "Lexend Deca", sans-serif;
  height: 100%;
  width: 1440px;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;

}
.main {
  width: 70%;
  display: flex;

}
